@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
}

h3 {
  font-size: 1.4rem;
  font-weight: 800;
}

h4 {
  font-size: 1.1rem;
  font-weight: 600;
}

h5 {
  font-size: 1rem;
  font-weight: 400;
  color: #1d1d1d;
}

h6 {
  color: black;
}
.section-p1{
  padding:40px;
   
  
}

hr {
  width: 30px;
  height: 2px;
  background-color: #fb774b;
}

#header{
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding:20px 80px;
  background: #E3E6F3;
  box-shadow: 0 5px 15px rgb(120, 117, 117);
  z-index: 999;
  position:sticky;
  top:0;
  left:0;
}
#navbar{
  display:flex;
  align-items: center;
  justify-content: center;
}
#navbar li{
  list-style: none;
  padding:0 20px;
  position:relative;
}
#navbar li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color:#1a1a1a;
}
#navbar li a:hover,
#navbar li a.active{
  color:#088178;
}
#navbar li a.active::after,
#navbar li a:hover::after{
  content:"";
  width:30%;
  height:2px;
  background: #088178;
  position:absolute;
  bottom:-4px;
  left:20px;
}
#hero{
  background-image:url("image/girlimage.png");
  height:90vh;
  width:100%;
}
#hero h4{
  padding-bottom:15px;
}
#hero h1{
  color:#088178;
}
#feature .fe-box{
  width:180px;
  text-align: center;
  padding:25px 15px;
  box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
  border:1px solid #cce7d0;
  border-radius: 4px;
  margin:15px;
}
#feature .fe-box:hover{
  box-shadow: 20px 20px 54px rgba(11, 10, 15, 0.1);
}
#feature .fe-box img{
  width:100%;
  margin-bottom: 10px;
}
#feature .fe-box h6{
  display:inline-block;
  padding:9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color:#088178;
  background-color: #ffdde4;
}
#feature{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#feature .fe-box :nth-child(2) h6{
  background-color: #fb774b;
}
#feature .fe-box :nth-child(3) h6{
  background-color: rgb(150, 150, 216);
}
#feature .fe-box :nth-child(4) h6{
  background-color: rgb(191, 144, 198);
}
#feature .fe-box :nth-child(5) h6{
  background-color: rgb(210, 171, 98);
}
#feature .fe-box :nth-child(6) h6{
  background-color:rgb(195, 110, 195);
}
#product{
  text-align: center;
}
#product .pro{
  width:23%;
  min-width: 250px;
  padding:10px 12px;
  border:1px solid #cce7d0;
  border-radius: 25px;
  cursor:pointer;
  box-shadow: 20px 20px 30px rgba(0,0,0,0.03);
  margin:15px 0;
  transition:0.02s ease;
  position:relative;
}
#product .pro:hover{
  box-shadow: 20px 20px 30px rgba(0,0,0,0.06);
}
#product .pro img{
  width:100%;
  border-radius: 20px;
}
#product .pro .dis{
  text-align: start;
  padding:10px 0;
}
#product .pro .dis span{
  color:#606063;
  font-size: 12px;
}
#product .pro .dis h5{
  padding-top: 7px;
  color:#1a1a1a;
  font-size: 14px;
}
#product .pro .dis i{
  font-size: 13px;
  color:rgb(244, 244, 69);
}
#product .pro .dis h4{
  padding-top: 7px;
  font-size: 14px;
  font-weight: 700;
  color:#088178;
}
#product .pro  .cart{
  height:40px;
  width:40px;
  line-height: 50px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  color:#088178;
  border:1px solid #cce7d0;
  position:absolute;
  bottom:20px;
  right:10px;
}
#product .pro-container{
     display:flex;
     justify-content: space-between;
     padding-top: 20px;
     flex-wrap:wrap;
}
.section-m1{
  margin:40px 0;
}
#banner{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}
#banner h4{
  color:#fff;
  font-size: 16px;

}
#banner h2{
  color:#fff;
  font-size: 30px;
  padding:10px 0;
}
#banner h2 span{
  color:rgb(129, 15, 15);
}
button.normal{
  font-size: 16px;
  font-weight: 600;
  padding:15px 30px;
  color:#000;
  background-color: #fff;
  border-radius: 4px;
  cursor:pointer;
  border:none;
  outline:none;
  transition:0.2s;
}
button.white{
  font-size: 13px;
  font-weight: 600;
  padding:11px 18px;
  color:#fff;
  background-color:transparent;
 
  cursor:pointer;
  border:1px solid #fff;
  outline:none;
  transition:0.2s;
}
#banner button:hover{
  background-color: #088178;
  color:#fff;

}
#sm-banner{
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#sm-banner h4{
   color:#fff;
   font-size:20px;
   font-weight:300;
}
#sm-banner h2{
  color:#fff;
  font-size:28px;
  font-weight:800;
}
#sm-banner span{
  color:#fff;
  font-size:14px;
  font-weight:500;
  padding-bottom: 15px;
}
#sm-banner .banner-box:hover button{
  background-color: #088178;
  border:1px solid #088178;
}
#sm-banner .box:hover button{
  background-color: #088178;
  border:1px solid #088178;
}
#newsletter{
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  
}
#newsletter h4{
  font-size: 22px;
  font-weight: 700;
  color:#fff;

}
#newsletter h2{
  color:#fff;
}
#newsletter p{
  font-size: 14px;
  font-weight: 600;
  color:rgb(133, 123, 123);
  
}
#newsletter p span{
 color:#e8977c;
  
}
#newsletter input{
  height:3.125rem;
  padding:0 1.25em;
  font-size: 14px;
  width:100%;
  border:1px solid transparent;
  border-radius: 4px;
  outline:none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#newsletter button{
  background-color: #088178;
  color:#fff;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
#newsletter .form{
  display:flex;
  width:40%;
}